{% extends 'layouts/layout-full-width.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block contentFullWidth %}
    <h1>Ceci est la home</h1>
{{ newManga(form) }}

{% endblock %}