{% extends 'layouts/layout-full-width.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block contentFullWidth %}
    <h1>Mentions légales</h1>
    <h2>1. Éditeur du site</h2>

    <p>Le présent site est édité par :<br/>

    Mangathèque<br/>
    Statut : [auto-entrepreneur / association / société — à compléter]<br/>
    SIRET : [à compléter]<br/>
    Responsable de publication : [Nom et prénom]<br/>
    Contact : [email@email.com] </p>
    <h2>2. Hébergement</h2>

    <p>Le site est hébergé par :<br/><br/>

    [Nom de l’hébergeur]<br/>
    Adresse : [Adresse du datacenter ou du siège]<br/>
    Téléphone : [Numéro à compléter]<br/>
    Site web : [www.nomdelhebergeur.com]</p>
    <h2>3. Propriété intellectuelle</h2>

    <p>L’ensemble des contenus présents sur le site (textes, images, logos, bases de données, code source…) sont la propriété exclusive de Mangathèque ou de leurs auteurs respectifs.<br/>
    <br/>
    Toute reproduction, distribution ou réutilisation sans autorisation préalable écrite est interdite.</p>
    <h2>4. Données personnelles – RGPD</h2>

    <p>Conformément au Règlement Général sur la Protection des Données (RGPD), l’utilisateur dispose des droits suivants :</p>

        <ul><li>Accès à ses données personnelles</li>

        <li>Rectification et suppression</li>

        <li>Portabilité</li>

        <li>Opposition au traitement</li></ul>

    <p>Les données collectées sont :</p>

        <ul><li>Adresse email</li>

        <li>Nom d’utilisateur</li>

        <li>Historique de lecture, notes et commentaires</li></ul>

    <p>Aucune donnée n’est revendue à des tiers.<br/>
    Pour exercer vos droits : [email@email.com]</p>
    <h2>5. Cookies</h2>

    <p>Le site utilise des cookies strictement nécessaires au fonctionnement de la plateforme et à l’amélioration de l’expérience utilisateur.<br/><br/>

    Un bandeau d’information permet à l’utilisateur de donner son consentement ou de paramétrer ses choix.</p>
    <h2>6. Responsabilité</h2>

    <p>Mangathèque ne peut être tenu responsable des contenus partagés par les utilisateurs (commentaires, avis, profils publics). En cas d’abus ou de signalement, ces contenus peuvent être modérés ou supprimés sans préavis.</p>
    <h2>7. Contact</h2>

    <p>Pour toute question, remarque ou demande :<br/>
    📧 contact@mangatheque.com</p>
{% endblock %}