{% extends 'layouts/layout-full-width.html.twig' %}

{% block contentFullWidth %}
    <h1>Register</h1>

    {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
    {{ form_end(registerForm) }}
{% endblock %}
