footer {
    display: flex;
    padding: 1rem 5rem;
    gap: var(--normal-gap);
    min-height: 4rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primaray-color-contrast);
}

footer p,
footer a,
footer li {
    color: var(--primary-color);
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
}