form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: var(--small-gap);
}

form button {
    width: 6rem;
}

#register {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
}

#register div {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

form[name=login] {
    display: flex;
    flex-direction: column;
    gap: var(--normal-gap);
}

form[name=login] div {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}